body {
  color: #565656;
  font-family: 'Noto Sans', sans-serif;
}
.wrapper {
  width: 100%;
}
h1 {
  position: absolute;
  top: 280px;
  left: 120px;
  font-size: 44px;
  color: #FFF;
}
h2 {
  font-size: 36px;
}
img {
  width: 100%
}

/* header */

header {
  position: relative;
}
.top-background img {
  width: 100%;
}
.top-logo {
  position: absolute;
  top: 150px;
  left: 120px;
  width: 400px;
}

h1 span {
  color: #FF7A76;
}
.top-spimage {
  width: 300px;
  top: 260px;
  position: absolute;
  right: 120px;
  transform: rotate(11deg);
}

/* introduction */

.introduction {
  background: #fff;
}

/* section */

section {
  padding: 80px 120px;
  text-align: center;
  background: #F4F5EF;
}
.sub-text {
  margin: 20px 0 0;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.section-green {
  background: #96E6A1;
  color: #fff;
}
.section-title {
  padding: 40px 0 0;
}
.title-number {
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border-bottom: 6px solid #565656;
  padding-bottom: 8px;
  text-align: center;
}
.section-green >.title-number {
  border-bottom: 6px solid #fff;
}
.section-wrap {
  display: flex;
  overflow: hidden;
  padding: 64px 0 0;
}
.section-wrap-left {
  display: flex;
  align-items: flex-start;
}
.section-wrap-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.section-introduction-leftimg {
  width: 240px;
}
.balloon-left{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 180px;
  margin: 40px 0px 0 48px;
  background: #ffffff;
  border-radius: 15px;
}
.balloon-left:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -32px;
 	margin-top: -16px;
	border: 16px solid transparent;
	border-right: 16px solid #FFF;
}
.section-introduction-rightimg {
  width: 240px;
}
.balloon-right{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 180px;
  margin: 0 40px 48px 0;
  background: #ffffff;
  border-radius: 15px;
}
.balloon-right:before{
	content: "";
	position: absolute;
	top: 50%;
	right: -32px;
 	margin-top: -16px;
	border: 16px solid transparent;
	border-left: 16px solid #FFF;
}
.balloon-text {
  text-align: left;
  font-size: 22px;
  line-height: 44px;
  color: #565656;
}

.section-wrap-location {
  display: flex;
  justify-content: space-around;
  padding: 64px 0 0;
}
.location-image {
  width: 96px;
}
.location-text {
  padding: 16px 0 0 ;
  font-size: 20px;
}

footer {
  padding: 160px;
  background: #96E6A1;
}
.footer-main {
  text-align: center;
}
.footer-main img {
  width: 480px;
}
.footer-main h2 {
  padding: 48px 0 0;
  color: #fff;
}
.footer-download {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0 0;
}
.appstore-btn {
  width: 190px;
}
.googleplay-btn {
  width: 250px;
}
